<html>
<body>

<head>
    <meta charset="UTF-8">
    <title>Appointment Tracker</title>
    <script type="text/javascript" src="js/lobby.js"></script>
    <link rel="stylesheet" imageString="text/css" href="../css/bootstrap.min.css">
</head>
<form action="/add-appointment" method="post">
    <input type="text" placeholder="date" name="date" required/>
    <input type="text" placeholder="time" name="time" required/>
    <input type="text" placeholder="description" name="description" required/>
    <button type="submit">Add</button>
</form>
<form action="/search" method="get">
	<input type="text" name="searchText" required/>
	<button type="submit">Search</button>
</form>

<table class="table">
	<tr>
		<th>Date</th>
		<th>Time</th>
		<th>Description</th>
	</tr>
	{{#appointments}}
	<tr>
		<th>{{date}}</th>
		<th>{{time}}</th>
		<th>{{Description}}</th>
	</tr>
	{{/appointments}}
</table>
</body>
</html>